<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ingemar.photoalbumdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PhotoViewActivity"
            android:label="@string/title_activity_photo_view_activity"
            android:parentActivityName=".AlbumViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ingemar.photoalbumdemo.AlbumViewActivity" />
        </activity>
        <activity
            android:name=".AlbumViewActivity"
            android:label="@string/title_activity_album_view"
            android:parentActivityName=".AlbumListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ingemar.photoalbumdemo.AlbumListActivity" />
        </activity>
        <activity
            android:name=".AlbumListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>